<!--
<div class="row">
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4" *ngFor="let category of categorys; let i = index" >
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">{{category.name}}</p>
      {{total}}
        <span><i class="fa fa-home mr-1 text-primary" ></i></span>
    </div>
  </div>
</div>
</div>
 
Nombre Total Visits  {{totals}}
-->

<!--Total categories-->
<div class="container-fluid" style="background-color: #0374a1;padding-top: 20px;padding-bottom: 30px;">
  <div class="row" style="text-align: center">
    <div class="col-sm-2">
      <div>
        <div>
          <h5 
          style="color:white;
          overflow: visible;
          width: 375px;
          white-space: nowrap;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 28px;
          color: rgba(245,245,245,1)">Tous</h5>

          <a style=" margin-left: 75px;box-shadow: 10px;width: 70px;
          color: rgba(245,149,42,1);background-color: white;	font-size: 24px;border-radius: 20px;font-family: Montserrat;" class="btn">{{totals}}</a>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div>
        <div>
          <h5  
          style="color:white;
          overflow: visible;
          width: 295px;
          white-space: nowrap;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 28px;
          color: rgba(245,245,245,1)">Appartement à Louer</h5>
          <a style="	width: 70px;

          color: rgba(245,149,42,1);background-color: white;	
          font-size: 24px;border-radius: 20px;font-family: Montserrat;" 
          class="btn" >{{total5}}</a>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div>
        <div >
          <h5 class="card-title" 
          style="color:white;
          overflow: visible;
          width: 295px;
          white-space: nowrap;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 28px;
          color: rgba(245,245,245,1)">Appartement à Vendre</h5>
          <a style="	width: 70px;

          color: rgba(245,149,42,1);background-color: white;	font-size: 24px;border-radius: 20px;font-family: Montserrat;" class="btn" >{{total2}}</a>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div>
        <div >
          <h5 class="card-title" 
          style="color:white;
          overflow: visible;
          width: 295px;
          white-space: nowrap;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 28px;
          color: rgba(245,245,245,1)">Maison à Louer</h5>
          <a style="	width: 70px;

          color: rgba(245,149,42,1);background-color: white;	font-size: 24px;border-radius: 20px;font-family: Montserrat;   text-align: center;" class="btn" >{{total3}}</a>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div>
        <div>
          <h5 class="card-title" 
          style="color:white;
          overflow: visible;
          width: 295px;
          white-space: nowrap;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 28px;
          color: rgba(245,245,245,1)">Maison à Vendre</h5>
          <a style="width: 70px;color: rgba(245,149,42,1);background-color: white;	font-size: 24px;border-radius: 20px;font-family: Montserrat;" class="btn" >{{total4}}</a>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div>
        <div >
          
          <button  class="btn" style="left: 152px;margin-top: 30px;width: 180px;height: 70px;
          color: white;background-color:rgba(245,149,42,1) ;	font-size: 27px;border-radius: 20px;font-family: Montserrat;" class="btn" >Contact</button>
        </div>
      </div>
    </div>
  </div>
  </div>