

<br>
<br>

<br>
<br>

<!--Bouton filtre-->
<div class="container-fluid">
  <form role="form">
    <div class="form-group">
      <input  type="text" class="form-control empty" id="iconified" placeholder="&#xF002;    Je recherche..."/>
      <button class="btn btn-secondary">Rehercher</button>
    </div>
    
  </form>
  </div>
<br>
<br><br>


<app-number-by-catgeory></app-number-by-catgeory>



<!--les visites-->
<div class="container" style="margin-top: 70px;" >
<div class="row"   >
  <div class="col-sm-3" style="margin-bottom:20px" *ngFor="let visit of visits; let i = index"  >
<div class="card" style="padding-top:20px; padding-bottom:40px;width: 18rem;height:530px;border-color: #0374a1;border-style: double 2px;color:#0374a1;border-radius: 60px;font-size: 20px; font-family: Montserrat;">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe  style="padding-left: 30px;padding-right: 30px;padding-top: 10px" class="embed-responsive-item"  [src]="_sanitizer.bypassSecurityTrustResourceUrl(visit.video.url)"

    frameborder='0' allowfullscreen allow='xr-spatial-tracking'></iframe>
  </div>
  <div class="card-body" >

    <h4 class="card-title font-weight-bold"><a>{{visit.category.name}}</a></h4>
   
        <ul class="list-inline mb-1" >
          <li class="list-inline-item me-0">
            <ngb-rating [max]="5" [(rate)]="visit.rating" [readonly]="false" style="color: rgba(245,149,42,1);font-size: 30px;"></ngb-rating>
          </li>
         
        </ul>

        <p class="mb-2"> <i class="fa fa-map-marker-alt mr-3" style="font-size: 30px"></i>{{visit.lieu.name}}
    </p>
        <p class="mb-2" style="font-weight: bold;margin-top:15px;color: #0374a1;" *ngIf="visit.category.id == 5  ||  visit.category.id == 3">
          <i class="fas fa-tags mr-3" style="font-size: 22px;transform: rotateY(180deg)"></i>
          {{visit.price}} / {{visit.modality.name}}
       
        </p>
        <p class="mb-2" style="display: inline;font-weight: bold;color: #0374a1" *ngIf="visit.category.id == 2  ||  visit.category.id == 4" >
          <i class="fas fa-tags mr-3" style="font-size: 22px;transform: rotateY(180deg);margin-top:15px"></i>{{visit.price}}</p>



        <p class="card-text" style="margin-left:20px;margin-top:20px;font-size:14px">

         {{visit.description}}
         
        </p>


        <div class="cd">
    <button class="btn"  (onClick)="onPlay()"  style="background-color: #0374a1;color:white;border-radius: 20px;font-size: 22px;width: 140px;margin-top:15px;height: max-content;">Découvrir</button>
  </div>
  </div>
</div>
</div>

</div>
</div>

