

<div class="container" style="margin-top: 50px;" >
<div class="row"  >
  <div class="col-sm-3">
<div class="card" style="width: 18rem;" >
  <div class="embed-responsive embed-responsive-16by9">
    <iframe width='853' height='480' src="https://mpembed.com/show/?m=JGPnGQ6hosj&mpu=1&play=1" frameborder='0' allowfullscreen allow='xr-spatial-tracking'></iframe>
  </div>
  <div class="card-body" >
    <h5 class="card-title font-weight-bold"><a>Appartement Meublé</a></h5>
        <ul class="list-unstyled list-inline mb-0">
          <li class="list-inline-item me-0">
            <i class="fas fa-star text-warning fa-xs"> </i>
          </li>
          <li class="list-inline-item me-0">
            <i class="fas fa-star text-warning fa-xs"></i>
          </li>
          <li class="list-inline-item me-0">
            <i class="fas fa-star text-warning fa-xs"></i>
          </li>
          <li class="list-inline-item me-0">
            <i class="fas fa-star text-warning fa-xs"></i>
          </li>
          <li class="list-inline-item">
            <i class="fas fa-star-half-alt text-warning fa-xs"></i>
          </li>
          <li class="list-inline-item">
            <p class="text-muted">4.5 (413)</p>
          </li>
        </ul>
        <p class="mb-2">1000$ • Almadies</p>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the
          card's content.
        </p>
    <a href="#" class="btn btn-primary">Regarder la Video</a>
  </div>
</div>
</div>
<div class="col-sm-3">
<div class="card" style="width: 18rem;">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe   class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg" allowfullscreen></iframe>
  </div>
  <div class="card-body">
    <h5 class="card-title font-weight-bold"><a>Appartement Meublé</a></h5>
        <ul class="list-unstyled list-inline mb-0">
          <li class="list-inline-item me-0">
            <i class="fas fa-star text-warning fa-xs"> </i>
          </li>
          <li class="list-inline-item me-0">
            <i class="fas fa-star text-warning fa-xs"></i>
          </li>
          <li class="list-inline-item me-0">
            <i class="fas fa-star text-warning fa-xs"></i>
          </li>
          <li class="list-inline-item me-0">
            <i class="fas fa-star text-warning fa-xs"></i>
          </li>
          <li class="list-inline-item">
            <i class="fas fa-star-half-alt text-warning fa-xs"></i>
          </li>
          <li class="list-inline-item">
            <p class="text-muted">4.5 (413)</p>
          </li>
        </ul>
        <p class="mb-2">1000$ • Almadies</p>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the
          card's content.
        </p>
    <a href="#" class="btn btn-primary">Regarder la Video</a>
  </div>
</div>
</div>
<div class="col-sm-3">
<div class="card" style="width: 18rem;" >
  <div class="embed-responsive embed-responsive-16by9">
    <iframe   class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg" allowfullscreen></iframe>
  </div>
  <div class="card-body">
    <h5 class="card-title font-weight-bold"><a>Appartement Meublé</a></h5>
        <ul class="list-unstyled list-inline mb-0">
          <li class="list-inline-item me-0">
            <i class="fas fa-star text-warning fa-xs"> </i>
          </li>
          <li class="list-inline-item me-0">
            <i class="fas fa-star text-warning fa-xs"></i>
          </li>
          <li class="list-inline-item me-0">
            <i class="fas fa-star text-warning fa-xs"></i>
          </li>
          <li class="list-inline-item me-0">
            <i class="fas fa-star text-warning fa-xs"></i>
          </li>
          <li class="list-inline-item">
            <i class="fas fa-star-half-alt text-warning fa-xs"></i>
          </li>
          <li class="list-inline-item">
            <p class="text-muted">4.5 (413)</p>
          </li>
        </ul>
        <p class="mb-2">1000$ • Almadies</p>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the
          card's content.
        </p>
    <a href="#" class="btn btn-primary">Regarder la Video</a>
  </div>
</div>
</div>
<div class="col-sm-3">
  <div class="card" style="width: 18rem;" >
    <div class="embed-responsive embed-responsive-16by9">
      <iframe   class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg" allowfullscreen></iframe>
    </div>
    <div class="card-body">
      <h5 class="card-title font-weight-bold"><a>Appartement Meublé</a></h5>
          <ul class="list-unstyled list-inline mb-0">
            <li class="list-inline-item me-0">
              <i class="fas fa-star text-warning fa-xs"> </i>
            </li>
            <li class="list-inline-item me-0">
              <i class="fas fa-star text-warning fa-xs"></i>
            </li>
            <li class="list-inline-item me-0">
              <i class="fas fa-star text-warning fa-xs"></i>
            </li>
            <li class="list-inline-item me-0">
              <i class="fas fa-star text-warning fa-xs"></i>
            </li>
            <li class="list-inline-item">
              <i class="fas fa-star-half-alt text-warning fa-xs"></i>
            </li>
            <li class="list-inline-item">
              <p class="text-muted">4.5 (413)</p>
            </li>
          </ul>
          <p class="mb-2">1000$ • Almadies</p>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
          </p>
      <a href="#" class="btn btn-primary">Regarder la Video</a>
    </div>
  </div>
  </div>
  <div class="col-sm-3">
    <div class="card" style="width: 18rem;" >
      <div class="embed-responsive embed-responsive-16by9">
        <iframe   class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg" allowfullscreen></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title font-weight-bold"><a>Appartement Meublé</a></h5>
            <ul class="list-unstyled list-inline mb-0">
              <li class="list-inline-item me-0">
                <i class="fas fa-star text-warning fa-xs"> </i>
              </li>
              <li class="list-inline-item me-0">
                <i class="fas fa-star text-warning fa-xs"></i>
              </li>
              <li class="list-inline-item me-0">
                <i class="fas fa-star text-warning fa-xs"></i>
              </li>
              <li class="list-inline-item me-0">
                <i class="fas fa-star text-warning fa-xs"></i>
              </li>
              <li class="list-inline-item">
                <i class="fas fa-star-half-alt text-warning fa-xs"></i>
              </li>
              <li class="list-inline-item">
                <p class="text-muted">4.5 (413)</p>
              </li>
            </ul>
            <p class="mb-2">1000$ • Almadies</p>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
        <a href="#" class="btn btn-primary">Regarder la Video</a>
      </div>
    </div>
    </div>
</div>
</div>



