<div class="row">
  <div class="col-xl-12">
      <div class="card m-b-20">
              <div class="row">
                  <div class="col-md-12 col-lg-12 col-xl-12">
                      <div class="card m-b-20">
                          <div class="card-header">
                              <h3 class="card-title" style="color: #0374a1">Liste Des Comptes</h3>
                          </div>
                          <div class class="card-body">
                              <div class="table-responsive">
                                  <table  id="Example" class="table table-striped" >
                                      <thead>
                                          <tr>
                                              <th class="wd-15p" style="color: #0374a1;">Nom</th>
                                              <th class="wd-15p" style="color: #0374a1;">Prenom</th>
                                              <th class="wd-15p" style="color: #0374a1;">Email</th>
                                              <th class="wd-15p" style="color: #0374a1;">Action</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let user of users">
                                              <td>{{user.name}}</td>
                                              <td>{{user.firstName}}</td>
                                              <td>{{user.email}}</td>
                                              <td>
                                                  <div class="row">
                                                      <div class="col-lg-4"><a class="btn btn-warning btn-sm text-white mb-1"  data-toggle="tooltip" data-original-title="Update" (click)="formUpdate(user, updateUserForm)"><i class="fa fa-pencil-alt"></i></a></div>
                                                      <div class="col-lg-4"><a  class="btn btn-danger btn-sm text-white mb-1"  data-toggle="tooltip" data-original-title="Delete" (click)="onDelete(user)"> <i class="fa fa-trash"></i></a></div>
                                                    </div>
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>

                      </div>

                  </div>
              </div>

      </div>
  </div>
</div>

<!--
<ng-template #templateConfirm>
  <div class="modal-body text-center">
    <p>Voulez-vous confirmer la suppression?</p>
    <button type="button" class="btn btn-primary" (click)="onDelete(videoDelete)" >Appliquer</button>
    <button type="button" class="btn btn-danger" (click)="decline()" >Annuler</button>
  </div>
</ng-template>
-->

<ng-template #updateUserForm>
  <div class="row">
      <div class="col-md-12">
          <div class="card m-b-20">
              <div class="model-header">

                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="card-body">
                  <form #form ="ngForm">
                      <div class="form-row">
                          <div class="form-group col-md-4">
                              <div class="form-group">
                                  <label class="form-label" for="name">Nom</label>
                                <input type="text"  class="form-control" name="name" id="name" #user.name {{video.name}}  placeholder="Nom de la video">
                              </div>
                          </div>
                          <div class="form-group col-md-4">
                              <div class="form-group">
                                  <label class="form-label" for="url">Video 360</label>
                                  <input type="text"  class="form-control" name="url" {{video.url}} id="url"  placeholder="URL du Video 360">
                              </div>
                          </div>

                      </div>

                      <button type="submit" (click)="onUpdate(userNew)" class="btn btn-primary ">Enregistrer</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</ng-template>




