<div class="row">
    <div class="col-xl-12">
        <div class="card m-b-20">
                <div class="row">
                    <div>
                        <div class="card m-b-10">
                          
                                <h5  style="color: #0374a1">Votre Type d'abonnement est STARTER</h5>
                         
                        </div>
  
                    </div>
                </div>
  
        </div>
    </div>
  </div>

  <br><br>
<div class="row">
    <div class="col-xl-12">
        <div class="card m-b-20">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <div class="card m-b-20">
                            <div class="card-header">
                                <h3 class="card-title" style="color: #0374a1">Liste Des Videos Ajoutées</h3>
                            </div>
                            <div class class="card-body">
                                <div class="table-responsive">
                                    <table  id="Example" class="table table-striped" >
                                        <thead>
                                            <tr>
                                                <th class="wd-15p" style="color: #0374a1;">Nom</th>
                                                <th class="wd-15p" style="color: #0374a1;">Video 360</th>
                                                <th class="wd-15p" style="color: #0374a1;">Nombre Pieces</th>
                                                <th class="wd-15p" style="color: #0374a1;">Nombre Etages</th>
                                                <th class="wd-15p" style="color: #0374a1;">Surface</th>
                                                <th class="wd-15p" style="color: #0374a1;">Prix Taxé</th>
                                                <th class="wd-15p" style="color: #0374a1;">Date Creation</th>
                                            
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let video of videos">
                                                <td>{{video.name}}</td>
                                                <td>{{video.url}}</td>
                                                <td>{{video.nombrePieces}}</td>
                                                <td>{{video.nombreEtages}}</td>
                                                <td>{{video.surface}}</td>
                                                <td>{{video.priceTaxed}}</td>
                                                <td>{{video.dateCreated}}</td>
                                               
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
  
                        </div>
  
                    </div>
                </div>
  
        </div>
    </div>
  </div>
  
  