<div class="row">
  <div class="col-xl-12">
      <div class="card m-b-20">
              <div class="row">
                  <div class="col-md-12 col-lg-12 col-xl-12">
                      <div class="card m-b-20">
                          <div class="card-header">
                              <h3 class="card-title" style="color: #0374a1">Liste Des Visites Virtuelles</h3>
                          </div>
                          <div class class="card-body">
                              <div class="table-responsive">
                                  <table  id="example" class="table table-striped table-bordered" >
                                      <thead>
                                          <tr>
                                              <th class="wd-15p" style="color: #0374a1">Numero Reference</th>
                                              <th class="wd-15p" style="color: #0374a1">Titre</th>
                                              <th class="wd-15p" style="color: #0374a1">Adresse</th>
                                              <th class="wd-15p" style="color: #0374a1">Description</th>
                                              <th class="wd-15p" style="color: #0374a1">Prix</th>
                                              <th class="wd-15p" style="color: #0374a1">Date de Creation</th>
                                              <th class="wd-15p" style="color: #0374a1">Video 360</th>
                                              <th class="wd-15p" style="color: #0374a1">Action</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let visit of visits">
                                              <td>{{visit.numberReference}}</td>
                                              <td>{{visit.titre}}</td>
                                              <td>{{visit.address}}</td>
                                              <td>{{visit.description}}</td>
                                              <td>{{visit.price}}</td>
                                              <td>{{visit.dateCreated}</td>
                                              <td>{{visit.video.name}}</td>
                                              <td>
                                                <div class="row">
                                                    <div class="col-lg-4"><a class="btn btn-warning btn-sm text-white mb-1"  data-toggle="tooltip" data-original-title="Update"><i class="fa fa-pencil"></i></a></div>
                                                    <div class="col-lg-4"><a  class="btn btn-danger btn-sm text-white mb-1"  data-toggle="tooltip" data-original-title="Delete" (click)="onDelete(visit)"> <i class="fa fa-trash"></i></a></div>
                                                </div>
                                            </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                           <!--<ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="marks.length"></ngb-pagination>-->
                          </div>
                          <!-- table-wrapper -->
                      </div>
                      <!-- section-wrapper -->
                  </div>
              </div>

      </div>
  </div>
  <!-- end col -->

</div>
<!--
<ng-template #templateConfirm>
  <div class="modal-body text-center">
    <p>Voulez-vous confirmer la suppression?</p>
    <button type="button" class="btn btn-primary" (click)="onDelete(visitDelete)" >Appliquer</button>
    <button type="button" class="btn btn-danger" (click)="decline()" >Annuler</button>
  </div>
</ng-template>
-->
<!--
<ng-template #updateVisitForm>
  <div class="row">
      <div class="col-md-12">
          <div class="card m-b-20">
              <div class="model-header">

                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="card-body">
                  <form #form ="ngForm">
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <div class="form-group">
                              <label class="form-label" for="numberReference">Numero de Reference</label>
                              <input type="text" class="form-control" name="numberReference" id="numberReference" [(ngModel)]="visitNew.numberReference"  placeholder="Numero de Reference">
                          </div>
                      </div>
                          <div class="form-group col-md-4">
                              <div class="form-group">
                                  <label class="form-label" for="titre">Titre</label>
                                  <input type="text" class="form-control" name="titre" id="titre" [(ngModel)]="visitNew.titre"  placeholder="Titre de la Visite">
                              </div>
                          </div>
                          <div class="form-group col-md-4">
                              <div class="form-group">
                                  <label class="form-label" for="address">Adresse</label>
                                  <input type="text" class="form-control" name="url" [(ngModel)]="visitNew.address" id="address"  placeholder="adresse de la Visite">
                              </div>
                          </div>
                          <div class="form-group col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="price">Prix</label>
                                <input type="text" class="form-control" name="price" [(ngModel)]="visitNew.price" id="price"  placeholder="Prix de la Visite">
                            </div>
                          </div>
                          <div class="form-group col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="description">Description</label>
                                <input type="text" class="form-control" name="description" [(ngModel)]="visitNew.description" id="description"  placeholder="Description de la Visite">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputUrl" class="col-form-label">Video 360</label>
                          <select  id="url" class="form-control select2" name="url" [(ngModel)]="visitNew.video.id">
                          <optgroup label="default">
                              <option value="{{visitUpdate.video.id}}"> {{visitUpdate.video.name}} </option>
                          </optgroup>
                              <option value="{{video.id}}" *ngFor="let video of videos; let i=index">{{video.name}}</option>
                          </select>
                      </div>
                      </div>
                      <button type="submit" (click)="onUpdate(visitNew)" class="btn btn-primary ">Enregistrer</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</ng-template>
-->

